$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";


@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


/**
 * App-wide Variable Colors for Color Scheme
 */

// Dashboard Colors
$dashboard-color: #354D5D;
$dashboard-highlight: #2A3B47;

// Dahsboard Text
$dashboard-text: #97BAD1;
$dashboard-text-highlight: #FFFFFF;


// Icons, Infographics, & Buttons
// Green
$ib-green: #49B49D;
$ib-green-highlight: #439C89;

// Yellow
$ib-yellow: #FCD942;
$ib-yellow-highlight: #E4BD15;

// Orange
$ib-orange: #E07A31;
$ib-orange-highlight: #C06321;

// Red
$ib-red: #DD5742;
$ib-red-highlight: #CA3A24;


// Content Area Background Colors
// Main Background
$background-main: #EDEFF0;

// Supporting Background Colors
$background-s1: #E1E1E1;
$background-s2: #B8C0C5;

/**
* End Variable Colors
*/


// html {
//   background-color: $dashboard-highlight;
// }


html, body {
  color: $dashboard-color;
  width: 100%;
  height: 100%;
}


body {
  margin-top: 80px;
  background-color: $background-main;
}

legend {
  color: $dashboard-color;
}


// App wide Button styling

.btn-toolbar-right {
  margin-bottom: 5%;

  .btn:first-of-type {
    margin-right: 5px;
  }
}

.btn, .btn:disabled {
  border: 0px;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

.btn:focus {
  outline: 0px auto $dashboard-highlight;
}

.btn:active {
  box-shadow: 0px;
}

.btn-default {
  color: $dashboard-highlight;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  color: $dashboard-highlight;
  border-color: $dashboard-highlight;
}

.btn-primary {
  background-color: $dashboard-color;
  color: $dashboard-text-highlight;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: $dashboard-highlight;
  color: $dashboard-text-highlight;
  border-color: $dashboard-highlight;
}

.btn-success {
  background-color: $ib-green;
  color: $dashboard-text-highlight;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: $ib-green-highlight;
  color: $dashboard-text-highlight;
}


.btn-warning {
  background-color: $ib-orange;
  color: $dashboard-text-highlight;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background-color: $ib-orange-highlight;
  color: $dashboard-text-highlight;
}


.btn-danger {
  background-color: $ib-red;
  color: $dashboard-text-highlight;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background-color: $ib-red-highlight;
  color: $dashboard-text-highlight;
}

.btn-info {
  background-color: $ib-yellow;
  color: $dashboard-text-highlight;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: $ib-yellow-highlight;
  color: $dashboard-text-highlight;
}



.btn-group {
  // background-color: $dashboard-color;
  color: $dashboard-text;
  margin-top: 15px;
  margin-bottom: 5px;
}



.form-control:focus {
  border-color: $dashboard-color;
  color: $dashboard-color;
  outline: 0;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 77, 93, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 77, 93, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 77, 93, 0.6);
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}


// App wide well styling
.well {
  border: 1px solid rgba(53, 77, 93, 0.4);
}

legend {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 0px solid rgba(53, 77, 93, 0.2);
}


.fa-trash-o {
  // font-size: 2em;
  color: $ib-red;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.fa-trash-o:hover {
  color: $ib-red-highlight;
}


a {
  color: $dashboard-color;
}

a:hover {
  color: $dashboard-text;
}

footer {
  text-align: center;
}


hr {
  border: 0;
  border-bottom: 1px solid $dashboard-color;
  margin: 10px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $dashboard-color;
}

// /**
//  * Left Menu Style
//  */

// html, body {
//   height: 100%;
//   width: 100%;
// }

// #content {
//   padding-top: 70px;
//   background-color: #fff;

//   -moz-box-shadow: 0 0 20px #888;
//   -webkit-box-shadow: 0 0 20px #888;
//   box-shadow: 0 0 20px #888;
// }

// #shelf-1 {
//   width: 235px;
//   padding: 0 10px;
// }



/**
 * App-wide Styles
 */


// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }



// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'drafts/drafts.scss';
@import 'edit-template/edit-template.scss';
@import 'jobs/jobs.scss';
@import 'labels/labels.scss';
@import 'main/main.scss';
@import 'messages/messages.scss';
@import 'new-template/new-template.scss';
@import 'shared/shared.scss';
@import 'templates/templates.scss';
@import 'navbar/navbar.scss';
// endinjector