.ta-root.focussed .ta-scroll-window.form-control {
  border-color: rgb(102, 175, 233);
  outline: 0px;
  -webkit-box-shadow: rgba(53, 77, 93, 0.0745098) 0px 1px 1px inset, rgba(53, 77, 93, 0.6) 0px 0px 8px;
}