

<div ng-include="'components/navbar/navbar.html'" ng-show="isLoggedIn()"></div>

<!-- Logged In -->
<div class="container" ng-show="isLoggedIn()">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <div ng-include="'app/drafts/drafts.html'"></div>
      <div ng-include="'app/labels/labels.html'"></div>
      <div ng-include="'app/messages/messages.html'"></div>

      <div class="container" ng-controller="MainCtrl">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" ng-submit="scrapeLink()">
              <fieldset>
                <legend class="text-center">Link to Scrape</legend>

                <!-- Link input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="positionLink">Link to Posting</label>
                  <div class="col-md-9">
                    <input id="positionLink" name="positionLink" type="text" class="form-control" ng-model='job.url'>
                  </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button class="btn btn-primary btn-lg">Submit</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<!-- Not Logged In -->
<div ng-show="!isLoggedIn()" class="main-info">
  <header class="hero-unit" id="banner">
    <div class="main-page">
      <h1>Job Butler</h1>
      <p>Replace your job search spreadsheet.</p>
    </div>
    <br>
    <div ng-controller="LoginCtrl">
      <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i> Connect with Google+
      </a>
    </div>
  </header>
  <div class="main-bottom">
    <br>
    <br>
  </div>
  <footer class="footer">
    <div class="container">
        <ul class="created-by">
          <li>created by:</li>
          <li>Andrew Lin
          <a target="_blank" href="https://github.com/andrwln" class="main-links"><i class="fa fa-github-square"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/andrewlin90" class="main-links"><i class="fa fa-linkedin-square"></i></a>
          <a target="_blank" href="https://twitter.com/" class="main-links"><i class="fa fa-twitter-square"></i></a>
          </li>

          <li>Daniel Margol
          <a target="_blank" href="https://github.com/dmarg" class="main-links"><i class="fa fa-github-square"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/danielmargol" class="main-links"><i class="fa fa-linkedin-square"></i></a>
          <a target="_blank" href="https://twitter.com/danielmargol" class="main-links"><i class="fa fa-twitter-square"></i></a>
          </li>
        </ul>
    </div>
  </footer>
</div>

<!-- <div class="row">
  <div class="container">

  </div>
</div>
 -->
<!-- End Original Template -->

<!-- <footer class="footer">
  <div class="container">
      <ul class="created-by">
        <li>created by:</li>
        <li>andrew lin</li>
        <li>daniel margol</li>
      </ul>
  </div>
</footer> -->