// Original Template SCSS

.btn-google-plus {
    color: $dashboard-text-highlight;
    background-color: $ib-red;
    border: 0px;
    margin-bottom: 30px;
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open > .btn-google-plus.dropdown-toggle {
    color: $dashboard-text-highlight;
    background-color: $ib-red-highlight;
    border: 0px;
}

.main-links {
    color: $dashboard-text-highlight;
}

.main-links:hover {
    color: $background-main;
}

.well-main {
    margin-top: 30px;
}

#banner {
    // border-bottom: none;
    margin-top: 5px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    margin-top: 70px;
    margin-bottom: 80px;
    color: $dashboard-text-highlight;
    text-align: center;
    background: $dashboard-color;

    // -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    // -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    border: 0px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 2px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 2px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 190px;
    margin-bottom: 65px;
    color: $dashboard-text-highlight;
}

.created-by {
    margin-top: 10px;
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

.main-page {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}

a > i.share-fa {
  color: $dashboard-color;
}

a > i.share-fa:hover, a > i.share-fa:focus, a > i.share-fa:active {
  color: $dashboard-highlight;
}

.panel-heading {
    color: $dashboard-color !important;
}

.panel {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid $dashboard-color;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

.panel-body > p {
  color: $dashboard-color;
}

.jobButlerText {
  text-shadow: rgb(46, 66, 80) 1px 1px,
    rgb(46, 66, 80) 2px 2px,
    rgb(46, 66, 80) 3px 3px,
    rgb(47, 68, 83) 4px 4px,
    rgb(49, 71, 86) 5px 5px,
    rgb(51, 74, 89) 6px 6px,
    rgb(53, 77, 93) 7px 7px;
   background-color: rgb(53, 77, 93);
  height: 100%;
  width: 100%;
  font-size: 75px;
  text-align: center;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
}