
<div ng-include="'components/navbar/navbar.html'"></div>

    <div ng-controller='SharedCtrl' class="col-md-12">
      <div>
        <table st-table='sharedViewsDisplay' st-safe-src="sharedViews" class='table table-striped'>
          <thead>
            <tr>
              <th st-sort='companyName'>Company Name</th>
              <th st-sort='positionTitle'>Position Title</th>
              <th st-sort='stage[stage.length-1].stageName'>Status</th>
              <th st-sort='stage[stage.length-1].date'>Last Updated</th>
              <th>Details</th>
            </tr>
            <tr>
              <th colspan="5">
                <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='sharedView in sharedViewsDisplay'>
              <td>{{sharedView.companyName}}</td>
              <td>{{sharedView.positionTitle}}</td>
              <td>{{sharedView.stage[sharedView.stage.length-1].stageName}}</td>
              <td>{{sharedView.stage[sharedView.stage.length-1].date}}</td>
              <td><i class="fa fa-pencil-square" ng-click="open(jobApp)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<script type="text/ng-template" id="editJobModal.html">
  <div ng-include="'app/jobs/edit-job-modal.html'"></div>
</script>

