
<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-controller='SharedCtrl'>

  <div ng-show="isActive('/shared')" class="col-md-12">
    <div>
      <table st-table='sharedViewsDisplay' st-safe-src="sharedViews" class='table table-striped'>
        <thead>
          <tr>
            <th st-sort='userName'>User Name</th>
            <th st-sort='companyName'>Company Name</th>
            <th st-sort='positionTitle'>Position Title</th>
            <th st-sort='stage[stage.length-1].stageName'>Status</th>
            <th st-sort='stage[stage.length-1].date'>Last Updated</th>
            <th>Details</th>
          </tr>
          <tr>
            <th colspan="6">
              <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='sharedView in sharedViewsDisplay'>
            <td>{{sharedView.userName}}</td>
            <td>{{sharedView.companyName}}</td>
            <td>{{sharedView.positionTitle}}</td>
            <td>{{sharedView.stage[sharedView.stage.length-1].stageName}}</td>
            <td>{{fromNow(sharedView.stage[sharedView.stage.length-1].unixTC)}}</td>
            <td><i class="fa fa fa-eye fa-2x" ng-click="openDetail(sharedView)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="isActiveParams('/shared/')" class='row'>
    <div ng-include="'app/shared/shared-job-view.html'"></div>
  </div>

</div>


