
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" ng-submit="createJob()">
        <fieldset>
          <legend class="text-center">Add Pursuit</legend>

          <!-- Link input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="positionLink">Link to Posting</label>
            <div class="col-md-9">
              <input id="positionLink" name="positionLink" type="text" class="form-control" ng-model='job.url'>
            </div>
          </div>

          <!-- Company Name input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="coName">Company Name</label>
            <div class="col-md-9">
              <input id="coName" name="coName" type="text" class="form-control" ng-model="job.companyName">
            </div>
          </div>

          <!-- Position input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="position">Position Title</label>
            <div class="col-md-9">
              <input id="position" name="position" type="text" class="form-control" ng-model='job.positionTitle'>
            </div>
          </div>

          <!-- Stage input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="stageStatus">Status</label>
            <div class="col-md-9">
              <select id="stageStatus" name="stageStatus" class='form-control' ng-model='job.stage.stageName' ng-options='stage for stage in stages.values'></select>
            </div>
          </div>

          <!-- Notes  -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="notes">Notes</label>
            <div class="col-md-9">
              <textarea class="form-control" id="notes" name="notes" rows="5" ng-model='job.stage.notes' placeholder="Enter your notes here..."></textarea>
            </div>
          </div>

          <!-- Job Details  -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="jobDetails">Job Details</label>
            <div class="col-md-9">
              <textarea class="form-control" id="jobDetails" name="jobDetails" rows="5" ng-model='job.jobDetails'></textarea>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-11 text-right">
              <button class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>