
<div class='row'>
  <div class='container'>
    <div class="btn-toolbar-top">
      <div class="col-md-12 text-right">
        <button class='btn btn-warning btn-lg' ng-click='editViewJobToggle()'>Edit</button>
        <button class='btn btn-primary btn-lg' ng-click='defaultAndDetailToggle()'>Go Back</button>
        <!-- <button class='btn btn-warning' ng-click='editViewJobToggle()'>Edit</button> -->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="well well-sm">
        <form class="form-horizontal">
        <fieldset>
          <legend class="text-center">
            Job Details
          </legend>

          <!-- Link input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="positionLink">Link to Posting</label>
            <div class="col-md-9">
              <input id="positionLink" name="positionLink" type="text" class="form-control" ng-model='jobView.url' ng-disabled="disableEditJob">
            </div>
          </div>

          <!-- Company Name input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="coName">Company Name</label>
            <div class="col-md-9">
              <input id="coName" name="coName" type="text" class="form-control" ng-model="jobView.companyName" ng-disabled="disableEditJob">
            </div>
          </div>

          <!-- Position input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="position">Position Title</label>
            <div class="col-md-9">
              <input id="position" name="position" type="text" class="form-control" ng-model='jobView.positionTitle' ng-disabled="disableEditJob">
            </div>
          </div>

          <!-- Stage input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="stageStatus">Status</label>
            <div class="col-md-9">
              <select id="stageStatus" name="stageStatus" class='form-control' ng-model='jobView.stage[jobView.stage.length-1].stageName' ng-options='stage for stage in stages.values' ng-disabled="disableEditJob"></select>
            </div>
          </div>

          <!-- Notes  -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="notes">Notes</label>
            <div class="col-md-9">
              <textarea class="form-control" id="notes" name="notes" rows="3" ng-model='jobView.stage[jobView.stage.length-1].notes' placeholder="Enter your notes here..." ng-disabled="disableEditJob"></textarea>
            </div>
          </div>

          <!-- Job Details  -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="jobDetails">Job Details</label>
            <div class="col-md-9">
              <textarea class="form-control" id="jobDetails" name="jobDetails" rows="8" ng-model='jobView.jobDetails' ng-disabled="disableEditJob"></textarea>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-11 text-right">
              <button class="btn btn-danger btn-lg" ng-click="removeJob()" ng-hide="disableEditJob">Remove This Job</button>

              <button class="btn btn-primary btn-lg" ng-click="submitJobEdits(jobView)" ng-hide="disableEditJob">Save Changes</button>

            </div>
          </div>
        </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>