<snap-content id="content" class="scrollable">
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="col-md-12" ng-controller="JobsCtrl">
    <!-- <div ng-controller='MessagesCtrl'>
      <form ng-submit="sendApplication()">
        To: <input class='form-control' type="text" ng-model='application.to'>
        Email's Subject Line: <input class='form-control' type="text" ng-model='application.subjectLine'>
        Email's Body Text: <textarea rows='10' class='form-control' type="text" ng-model='application.bodyOfEmail'></textarea>
        <button class='btn btn-danger'>Submit</button>
      </form>
    </div> -->
    <div collapse='isCollapsedShare'>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" ng-submit="shareView()">
              <fieldset>
                <legend class="text-center">Add Pursuit</legend>

                <!-- Share with User input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="share">Share with</label>
                  <div class="col-md-9">
                    <input id="share" name="share" placeholder="Enter email address of user to share pursuits with." type="text" class="form-control" ng-model="email.email">
                  </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button class="btn btn-success btn-lg">Submit</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>

    <div collapse='isCollapsedJob'>
      <div ng-include="'app/jobs/addpursuit.html'"></div>
      <br>
      <br>
      <br>
    </div>



    <div class='row'>
      <div class='col-md-3 col-md-offset-3'>
        <input class='form-control'type="text" ng-model="filterOptions.filterText" />
      </div>
      <div>
        <button class="col-md-1 btn btn-default" ng-click="isCollapsedJob = !isCollapsedJob; isCollapsedShare = true">Add Pursuit</button>
      </div>
      <div>
        <button class="col-md- 1 btn btn-default" ng-click="isCollapsedShare = !isCollapsedShare; isCollapsedJob = true">Share</button>
      </div>
    </div>

    <div class='row'>
      <div class="col-md-3 col-md-offset-3 gridStyle" ng-grid="gridOptions"></div>
    </div>



  </div>

</snap-content>