
.fa-eye {
  // font-size: 2em;
  color: #49B49D;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.fa-eye:hover {
  color: #439C89;
}

.fa-2x {
  margin: -5px auto;
  padding-left: 9px;
}

.well {
  margin-bottom: 0;
}

.smart-table {
  margin-top: 10px;
}

.st-sort-descent:before {
  content: '\25BC';
}

.st-sort-ascent:before {
  content: '\25B2';
}

.form-control {
  color: $dashboard-highlight;
}

.view-right {
  padding-right: 0px;
}

th {
  cursor: hand;
  cursor: pointer;
}